NODE_ENV=development   # production

COUCHDB_USER=admin
COUCHDB_PASSWORD=secret123
COUCHDB_URL=http://admin:password@localhost:5984
COUCHDB_AUTO_CREATE_DATABASE=true   # false in production
COUCHDB_DATABASE=idp_core

REDIS_URL=redis://redis:6379

COOKIE_DOMAIN=.techaxon.localhost
COOKIE_SECURE=false
COOKIE_HTTP_ONLY=true
COOKIE_SAME_SITE=lax

JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_VERIFICATION_SECRET=change-me-verification-secret

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
JWT_VERIFICATION_EXPIRES_IN=1h

JWT_ISSUER=techaxon-idp
JWT_AUDIENCE=techaxon-api